.app {
  display: flex; /* Usando flexbox para layout flexível */
  height: 100vh; /* Definindo a altura da página para 100% da altura da tela */
}

.left-section, .right-section {
  flex: 1; /* As seções ocuparão o mesmo espaço na página */
  padding: 20px;
  border: 1px solid #ccc;
}

.left-section {
  background-color: #f0f0f0; /* Cor de fundo da seção esquerda */
}

.right-section {
  background-color: #e0e0e0; /* Cor de fundo da seção direita */
}
